<div class="col-md-9">
    <h2>Thêm Thành Viên</h2>
    <hr>
    <form id="formUser">
      <input type="hidden" id="funct" value="1">
        <div class="form-group">
          <label for="username">Tên Đăng Nhập:</label>
          <input type="text" class="form-control" id="username" required>
          <span class="err_username"></span>
        </div>
        <div class="form-group">
            <label for="password">Mật Khẩu:</label>
            <input type="password" class="form-control" id="password" required>
            <span class="err_password"></span>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" required>
            <span class="err_email"></span>
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
        <a href="category/index" class="btn btn-dark">Thoát</a>
    </form>
    <br>
</div>